<div data-backdrop="false" class="modal fade" id="notSavedPopup" tabindex="-1" role="dialog" aria-labelledby="notSavedPopup" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
				<h4 class="modal-title" id="notSavedPopupLabel">! WARNING</h4>
			</div>
			<div class="modal-body">
				<h3>You are about to leave this page without saving your changes. Do you want to continue?</h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-ng-click="close('No')" data-dismiss="modal">NO - go back</button>
				<button type="button" class="btn btn-default" data-ng-click="close('Yes')" data-dismiss="modal">YES - continue</button>
			</div>
		</div>
	</div>
</div>