.tab-content {
    border-left: 2px solid #0a689e;
    border-right: 2px solid #0a689e;
	border-top: 2px solid #0a689e;
	border-bottom: 2px solid #0a689e;  
}

.framework-icons .uxf-icon{
	color:#0e7bba;	
}