.tab-content {
    border-left: 2px solid #22644c;
    border-right: 2px solid #22644c;
	border-top: 2px solid #22644c;
	border-bottom: 2px solid #22644c;  
}

.framework-icons .uxf-icon{
	color:#2e8363;
}