.tab-content {
    border-left: 2px solid #444481;
    border-right: 2px solid #444481;
	border-top: 2px solid #444481;
	border-bottom: 2px solid #444481;  
}

.framework-icons .uxf-icon{
	color:#5859a5;
}